

.img-content{
    border-radius: 14px;
    width: 100%; 
    aspect-ratio: 16 / 9 !important; /* Tỷ lệ hình chữ nhật  */
    object-fit: cover;    


    &:hover{
        transform: scale(1.05); 
        transition: transform 0.4s ease-in-out; 
        cursor: pointer;
    }
}
.custom-card {
    border: none;
    cursor: pointer;
}
.title-container {
    position: relative;
    max-width: 100%;
}

.title-content {
    font-weight: 600;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 60px); /* Trừ không gian cho badge */
}

.vip-badge {
    font-size: 1.4rem;
    position: absolute;
    top: 0;
    right: 0;
}
//post
.title{
    font-weight: 700;
    font-size: 4rem;
}
.showAll-btn{
    font-size: 1.8rem;
    color:rgb(108 117 125);
}

@media (max-width: 768px) {
    .title{
        font-size: 3rem;
    }
  }
  


